---
title:     nathos.com - Nathan Henderson - designer &amp; front-end web developer in Rochester, NY
bodyclass: nathosdotcom
---

%section.links
  .linkgroup.social-networks
    %h3 Social networks
    %ul.linklist
      %li
        %a.icon.twitter{:href => "http://twitter.com/nathos"}
          %p.title Twitter
          %p.desc sweet tweets that can't be beat
      %li
        %a.icon.googleplus{:href => "https://plus.google.com/118220775491146044567/posts"}
          %p.title Google+
          %p.desc that social network I never really use
      %li
        %a.icon.linkedin{:href => "http://www.linkedin.com/in/nathanhenderson"}
          %p.title LinkedIn
          %p.desc who doesn't love recruiter spam?

  .linkgroup.stuff-ive-made
    %h3 Stuff I've made
    %ul.linklist
      %li
        %a.icon.behance{:href => "http://www.behance.net/nathos"}
          %p.title Behance
          %p.desc selected works I've designed &amp; built
      %li
        %a.icon.github{:href => "https://github.com/nathos"}
          %p.title GitHub
          %p.desc my open-source projects
      %li
        %a.icon.vimeo{:href => "https://vimeo.com/nathos"}
          %p.title Vimeo
          %p.desc videos I've created &amp; shared

  .linkgroup.rarely-updated
    %h3 Rarely updated
    %ul.linklist
      %li
        %a.icon.tumblr{:href => "http://nathos.tumblr.com"}
          %p.title Nathan's Tumblr
          %p.desc random sharings
      %li
        %a.icon.flickr{:href => "http://www.flickr.com/nathos/"}
          %p.title Flickr
          %p.desc pictures I've taken



  .linkgroup.other-goodies
    %h3 Other goodies
    %ul.linklist
      %li
        %a.icon.lastfm{:href => "http://www.last.fm/user/nathanhenderson"}
          %p.title Last.fm
          %p.desc tunes I've been listening to

  .linkgroup.contact-me
    %h3 Contact Me
    %ul.linklist
      %li
        :javascript
          //<![CDATA[
          <!--
          var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
          "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
          " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!11)4t{yrx{=+;x+ll" +
          "=};acct(h)e}{f}roi(l=1-i;=>;0-i)-o{=+.xhcratAi(;)r}teru n.oussbrt0(o,)l};(f" +
          ")\\\"20\\\\,2\\\"00\\\\\\\\10\\\\04\\\\01\\\\\\\\37\\\\07\\\\02\\\\\\\\\\\\" +
          "nR\\\\35\\\\0r\\\\\\\\\\\\s^\\\\\\\\\\\\\\\\2q02\\\\\\\\5[00\\\\\\\\25\\\\0" +
          "D\\\\GNAH03\\\\0L\\\\0@00\\\\\\\\szx=7u17\\\\\\\\&jJ5gvvvL3}2m~igx)h;vY<_/q" +
          "5B02\\\\\\\\37\\\\06\\\\01\\\\\\\\25\\\\0r\\\\\\\\\\\\1X03\\\\\\\\37\\\\0U\\"+
          "\\00\\\\06\\\\02\\\\\\\\O53R13\\\\01\\\\00\\\\\\\\30\\\\02\\\\00\\\\\\\\36\\"+
          "\\0K\\\\Z425\\\\06\\\\02\\\\\\\\05\\\\07\\\\01\\\\\\\\01\\\\0A\\\\20\\\\0c\\"+
          "\\1000\\\\\\\\7.00\\\\\\\\4d47&x;;0&7>01\\\\\\\\\\\\=\\\\\\\"$\\\\+?r'2(-)\\"+
          "\"\\\\\\\\\\\\|/Z&UL34\\\\01\\\\03\\\\\\\\UfVQ5[02\\\\\\\\\\\\Z\\\\\\\\Q\\\\"+
          "2X02\\\\\\\\3s02\\\\\\\\_^FJ0J01\\\\\\\\2F03\\\\\\\\07\\\\04\\\\01\\\\\\\\N" +
          "MTDlv2jtou|ubpz\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fng" +
          "riSt+=;o27=1y%){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n" +
          " ioctun\\\"f)\")"                                                            ;
          while(x=eval(x));
          //-->
          //]]>



-# <a class="icon mail" href=mailto:nathos@nathos.com>
-# <p class="title">Get in touch</p>
-# <p class="desc">send me an email</p>
-# </a>

